
#rocket{
    width: 48%;
    margin: 0;
    float: left;
    height: 800px;
    padding-left: 50px;
    padding-top: 20px;
}
#info{
    width: 48%;
    margin: 0;
    float: right;
    height: 800px;
    padding-top: 200px;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 51px;
    padding: 35px; 
    color: black;
    text-align: center;
    
}